<nav class="header-bar navbar navbar-expand-lg" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo">
                <img src="\assets\images\logo.png" /></a>
            <label class="navbar-text text left">NEXT GEN BANK</label>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav ml">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Loans</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Credit Card</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
         </div>
         <app-login></app-login>
    </div>   

</nav>

